/* font */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
/* reset css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
select,
textarea,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
img {
  border: 0;
}
:focus {
  outline: 0;
}
.clear {
  clear: both;
}

:root {
  --bg-color: #fafafa;
}

html,
body {
  width: 100%;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background-color: transparent;
}



body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--bg-color);
  background-image: url(./assets/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Dark Mode */

body.dark-mode {
  background-image: url(./assets/bg-desktop-dark.jpg);
  background-color: #171823;;
}
body.dark-mode .container .input-container{
  background-color: #171823;
}

body.dark-mode .container .input-container input{
  background-color: #25273D;
}

body.dark-mode .container .input-container .submit-btn svg circle{
stroke: #4D5067;
fill: #25273D;;

}

body.dark-mode .container .todos-container{
  background: #25273D;;
  box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.50);
}

body.dark-mode .container .todos-container .todo:not(:first-child){
  border: 1px solid #393A4B;
}

body.dark-mode .container .todos-container .todo .checkbox{
  border: 1px solid #393A4B;
}

body.dark-mode .container .todos-container .todo .checkbox:hover{
  border: 1px solid hsla(192, 100%, 67%);
}

body.dark-mode .container .todos-container .todo .todo-text{
  color: #C8CBE7;
}

.container {
  width: 541px;
  height: 600px;
  margin-top: 70px;
  position: relative;
}

.container .upper-container {
  display: flex;
  justify-content: space-between;
}

.upper-container h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 15px;
  color: #fff;
}

.upper-container img {
  width: 25.113px;
  height: 26px;
}

.container .input-container {
  position: relative;
  background: #fff;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  border-radius: 5px;
  margin-top: 40px;
}

.input-container form {
  height: 64px;
}

.input-container form input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding-left: 72px;
  padding-right: 18px;
  width: calc(100% - 90px);
}

.input-container .submit-btn {
  top: 50%;
  left: 24px;
  position: absolute;
  transform: translateY(-50%);
  background-color: transparent;
}

.todos-container {
  margin-top: 24px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
}

.todo {
  padding: 24px 12px 24px 72px;
  display: flex;
  align-items: center;
  position: relative;
}

.todo:not(:first-child) {
  border: 1px solid #e3e4f1;
}

.todo .todo-btn {
  top: 50%;
  left: 24px;
  position: absolute;
  transform: translateY(-50%);
  background-color: transparent;
}

.todo .btn-delete {
  margin-left: auto;
  margin-right: 24px;
  background-color: transparent;
}
.todo-footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
}

.todo-footer p {
  color: #9495a5;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.194px;
}

.buttons button {
  margin-left: 19px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.194px;
  font-size: 14px;
}

.buttons button:nth-child(1) {
  color: #3a7cfd;
}

.buttons button:nth-child(3) {
  color: #9495a5;
}

.todo-footer > button {
  color: #494c6b;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.194px;
}

.todo-btn {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

input[type="checkbox"] {
  top: 50%;
  left: 24px;
  position: absolute;
  transform: translateY(-50%);
  background-color: transparent;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
border: 1px solid #D1D2DA;
cursor: pointer;

}

input[type="checkbox"]:hover{
  border: 1px solid #C058F3;
}

input[type="checkbox"]:checked {
  background: linear-gradient(to bottom right, #55DDFF, #C058F3);
  border: none;
  color: #fff;
}

input[type="checkbox"]:checked + p {
  color: #D1D2DA;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.25px;
 text-decoration: line-through;
}


@media (max-width : 478px ){
  body{
    background-image: url(./assets/bg-mobile-light.jpg);
    background-size: contain;

  }

  body.dark-mode{
    background-image: url(./assets/bg-mobile-dark.jpg);
  }

  body.dark-mode .buttons{
background-color: #25273D;
  }
  body.dark-mode form{
    background-color: #25273D;
    border-radius: 5px;
  }

  body.dark-mode .input-container {
    box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.50);
    background-color: #25273D;
  }
  .container{
    width: 327px;
    height: 100%;
  }

  .upper-container h1{
    font-size: 24px;
  }

  .container .input-container {
    margin-top: 20px;
  }

  .input-container form {
    height: 48px;

  }

  .input-container form input{
    padding-left: 58px;
  }

  input::placeholder{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.167px;
    
  }

  .buttons{
    position: absolute;
    width: 100%;
    height: 48px;
    background-color: red;
    bottom: -70px;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50);
    border-radius: 5px;
    
  }

  

}